.main3{
    background-image: url('/public/pic/pic1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
}

.container6 {
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 800px;
    margin-left: 470px;
    background-color: rgba(255, 255, 255, 0.582); 
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); 
    padding: 30px; 
    /* background: linear-gradient(to right,#4CB8C4, #3CD3AD);  */
  }
  
  .container6 h1{
    font-family: oblique;
    font-size: 60px;
  }

  .form-group label {
    margin-top: 10px;
  }
  
  .form-control {
    width: 100%;
  }
  
  .form-check-inline {
    display: inline-block;
  }

  .container6 button{
    width: 100%;
    font-size: 20px;
    color: black;
  }

  span{
    display: block;
  text-align: center;
    font-weight: bold;
  }
