.main4{
    background-image: url('/public/pic/pic13.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
}

.container7 {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 600px;
    margin-left: 550px;
    background-color: rgba(255, 255, 255, 0.582); 
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); 
    padding: 40px; 
    /* background: linear-gradient(to right,#4CB8C4, #3CD3AD);  */
  }
  label{
    font-weight: bold;
  }
  
  .container7 h1{
    font-family: oblique;
    font-size: 50px;
  }

  .container7 button{
    width: 520px;
    color: black;
  }